   
   <!-- DETALHES DO RESTAURANTE -->

    <section id="il0ci" class="flex-sect" style="background-color: #f4a261">
      <div class="container-width" id="imbl">
        <div id="ifx49" class="flex-title">{{result.name}}</div>
      </div>
      <div class="row" id="i0ja">
        <div class="cell" id="i96j">
          <center><img
            id="i3m4"
            src="{{result.image}}"
          alt="imagem principal do restaurante {{result.name}}" /></center>
          <div id="iqvl">
            <br>
            <center><span id="i2fdj"
              >{{result.description}}</span
            ></center>
          </div>
        </div>
        <div class="cell"> <!--id="i37i"-->
          <div id="itagz">
            <div>
              <br />
            </div>
            <div>
              <br />
            </div>
            Categoria(s): {{result.category}}
            <div>
              <br />
            </div>
            <div>Região de Entrega: {{result.region}}</div>
            <div>
              <br />
            </div>
            <div>Website: <a href="https://{{result.site}}" target="_blank" class="contatos">{{result.site}}</a></div>
            <div>
              <br />
            </div>
            <div>WhatsApp: <a href="https://wa.me/55{{result.phone}}" target="_blank" class="contatos">{{result.phone}}</a></div>
          </div>
          <hr />
          <br />
          <h4>CONTATE O VENDEDOR</h4>
          <form class="form" id="iobx1">
            <div class="form-group">
              <label class="label">Nome:</label>
              <input placeholder="Nome" class="input" />
            </div>
            <div class="form-group">
              <label class="label" id="i0rxg">Email:</label>
              <input
                type="email"
                placeholder="Email para retorno do contato"
                class="input"
              />
            </div>
            <div class="form-group">
              <label class="label">Mensagem:</label>
              <textarea class="textarea">
Olá! Encontrei seu restaurante no Iron Quentinha e gostaria de mais informações. Obrigado(a)!</textarea
              >
            </div>
            <div class="form-group">
              <center><button type="submit" class="button">Enviar</button></center>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!--CARDAPIO-->

    <section class="flex-sect" id="iz2br" style="background-color: #e76f51">
      <div class="container-width" id="iijrl">
        <div class="flex-title" id="i7f1j">Cardápio</div>
        <div class="flex-desc" id="i8ank">
          Veja abaixo os pratos disponíveis neste restaurante
        </div>
        <div class="cards">
          {{#each pratos}}
          <div class="card">
            <div class="card-header" style="background-image: url('{{this.image}}');"></div>
            <div class="card-body">
              <div class="card-title" id="ix41s">{{this.name}}</div>
              <div class="card-sub-title">R$ {{this.price}}</div>
              <div class="card-desc">
                {{this.description}}
              </div>
            </div>
          </div>
          {{/each}}
          {{!-- <div class="card">
            <div class="card-header ch2" id="ioxs1"></div>
            <div class="card-body">
              <div class="card-title">Title two</div>
              <div class="card-sub-title">Subtitle two</div>
              <div class="card-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header ch3"></div>
            <div class="card-body">
              <div class="card-title">Title three</div>
              <div class="card-sub-title">Subtitle three</div>
              <div class="card-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header ch4"></div>
            <div class="card-body">
              <div class="card-title">Title four</div>
              <div class="card-sub-title">Subtitle four</div>
              <div class="card-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header ch5"></div>
            <div class="card-body">
              <div class="card-title">Title five</div>
              <div class="card-sub-title">Subtitle five</div>
              <div class="card-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header ch6"></div>
            <div class="card-body">
              <div class="card-title">Title six</div>
              <div class="card-sub-title">Subtitle six</div>
              <div class="card-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </div>
            </div>
          </div> --}}
        </div>
      </div>
    </section>

<!---FOOTER--->
<footer class="centro"> 
            <span><a href="https://github.com/AruaMonteiro/ironhack-project2" class="social" target="_blank"><i class="fab fa-github"></i> </a></span> 
            <br>
            <span class="final">Iron Quentinha  <i class="far fa-copyright"></i> 2020</span>
</footer>